# Backend
backend/.env
backend/firebase-adminsdk.json
backend/.venv/
backend/__pycache__/
backend/temp_uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# System
.DS_Store
Thumbs.db

# Python cache
**/__pycache__/
